@keyframes gradient{
    0%{
        background-position: 0% 50%;
        background-position-x: 0%;
        background-position-y: 50%;
    }
    50%{
        background-position: 100% 50%;
        background-position-x: 100%;
        background-position-y: 50%;
    }
    100%{
        background-position: 0% 50%;
        background-position-x: 0%;
        background-position-y: 50%;
    }
}

@keyframes title{
    0%{
       transform: translateY(0px);
       box-shadow: 0 5px 15px 0px rgb(0 0 0 / 11%);
    }
    50%{
       transform: translateY(1rem);
       box-shadow: 0 25px 15px 0px rgb(0 0 0 / 4%);

    }
    100%{
       transform: translateY(0px);
       box-shadow: 0 5px 15px 0px rgb(0 0 0 / 14%);

    }
}